<%- include("partials/header.ejs") %>

<div class="container d-flex flex-wrap justify-content-center">
    <a href="#" class="col-12 col-lg-auto mb-3 mb-lg-0 text-dark text-decoration-none">
      <h1 class="BoxOffice">Frequently Asked Questions</h1>
    </a>
</div>

<div class="cinemaszone">

    <div class="container d-flex flex-wrap justify-content-center" id="faq">
        <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <h3 class="BoxOffice">รองรับการชำระรูปแบบใดบ้าง</h3>
        </a>
    </div>

    <div class="list-group">
        <p href="#" class="list-group-item list-group-item-action">&nbsp&nbsp&nbsp&nbspผู้ใช้งานสามารถชำระได้ตามรูปแบบที่แสดงอยู่บนเว็บไซ๖ในขณะนั้น
            เช่น การชำนะผ่าน E-Banking</p>
    </div>

</div>

<div class="cinemaszone">

    <div class="container d-flex flex-wrap justify-content-center" id="faq">
        <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <h3 class="BoxOffice">จะเข้าชมภาพยนต์ได้อย่างไรเมื่อชำระเสร็จสิ้น</h3>
        </a>
    </div>

    <div class="list-group">
        <p class="list-group-item list-group-item-action">&nbsp&nbsp&nbsp&nbsp1.นำ QR ที่ได้รับไปสแกนด้วย Smart Ticket ได้ที่จุดตรวจ หรือ</p>
        <p class="list-group-item list-group-item-action">&nbsp&nbsp&nbsp&nbsp2. นำไปใช้ออกบัตรชมภาพยนตร์ที่ E-Ticketing ได้ที่ Box Office
            แล้วนำบัตรชมภาพยนตร์ที่ได้ไปแสดงที่จุดตรวจ</p>
    </div>

</div>

<div class="cinemaszone">

    <div class="container d-flex flex-wrap justify-content-center" id="faq">
        <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <h3 class="BoxOffice">สามารถซื้อบัตรภาพยนต์บนเว็บไซต์ได้กี่ครั้ง</h3>
        </a>
    </div>

    <div class="list-group">
        <p class="list-group-item list-group-item-action">&nbsp&nbsp&nbsp&nbspผู้ใช้งานสามารถซื้อบัตรชมภาพยนต์ได้ไม่จำกัดจำนวนครั้ง</p>
    </div>

</div>

<%- include("partials/footer.ejs") %>