<%- include("partials/header.ejs") %>

<div class="cinemaszone">

    <div class="container d-flex flex-wrap justify-content-center">
        <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <h1 class="BoxOffice">Today</h1>
        </a>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">&nbsp&nbsp&nbsp&nbspThe current link
            item</a>
        <a href="#" class="list-group-item list-group-item-action">&nbsp&nbsp&nbsp&nbspA second link
            item</a>
        <a href="#" class="list-group-item list-group-item-action">&nbsp&nbsp&nbsp&nbspA third link
            item</a>
        <a href="#" class="list-group-item list-group-item-action">&nbsp&nbsp&nbsp&nbspA fourth link
            item</a>
    </div>
</div>

<div class="allnav">
    <div class="bd-example py-3">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="news.ejs">
                    <div id="nva-ticket">
                        <h1>Regular Seat</h1>
                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp140 THB</p>
                    </div>

                    <div class="vr"></div>

                    <div id="nva-ticket">
                        <h1>Regular Seat</h1>
                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp140 THB</p>
                    </div>

                    <div class="vr"></div>

                    <div id="nva-ticket">
                        <h1>Regular Seat</h1>
                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp140 THB</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>



<%- include("partials/footer.ejs") %>